
.root {
	-fx-base: #ebf3f9;
	-fx-font-size: 1.4em;
	-fx-font-family: sans-serif;
	-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #b1cba0, #a0c0b0);
}

.inner {
	-fx-border-color: green;
	-fx-border-width: 2px 2px 2px 2px;
}

.label {
	-fx-padding: 20 20 20 20;
	-fx-text-fill: #422;
}
